/* Base styles for mobile-first approach */
.container {
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the container */
    display: flex; /* Added this line to enable Flexbox layout */
    flex-direction: column; /* Stack children vertically on small screens */
}

#simulationResult {
    width: 100%;
}

.content {
    width: 100%; 
    display: flex; /* Added this line to enable Flexbox layout */
    flex-direction: column; /* Stack children vertically */
}

.content input[type="number"] {
    width: 20%; 
    margin-bottom: 30px; /* Increase vertical separation */
}

.content input[type="range"],
.content button {
    width: 40%; 
    margin-bottom: 30px; /* Increase vertical separation */
}

#runSimulations {
    padding: 15px 30px; /* Increase padding to make the button larger */
    font-size: 20px; /* Increase font size for better visibility */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

/* Styles for desktop devices */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Stack children horizontally on larger screens */
        justify-content: space-between;
        align-items: start;
    }
    
    .content,
    #simulationResult {
        width: 45%;
        padding: 20px;
    }
}