/* Base styles for mobile-first approach */
.container {
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the container */
    display: flex; /* Added this line to enable Flexbox layout */
    flex-direction: column; /* Stack children vertically on small screens */
}
.content {
    width: 100%; 
    flex-direction: column; /* Added this line to stack children vertically */
}
#simulationResult {
    width: 100%; 
}

/* Styles for desktop devices */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Stack children horizontally on larger screens */
        justify-content: space-between;
        align-items: start;
    }
    
    .content,
    #simulationResult {
        width: 45%; 
        padding: 20px;
    }
}
